* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --black: #000;
  --blackOpacity: rgba(0,0,0,0.5);
  --greenbtn: #adfa2f;
  --greenbtnhover: rgb(138,207,33);
  --white: #fff;
  --myfont: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--myfont);
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--black);
}

/* ---------------------
    NAVBAR
------------------- */

.show {
  display: flex !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

nav ul {
  display: flex;
}

nav ul li > a {
  display: block;
  position: relative;
  padding: 2rem 1.5rem 1rem 1.5rem;
  color: var(--white);
}

/* efecto subrayado */
nav ul li .link::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  background-color: var(--white);
}

nav ul li .link:hover:before {
  transform: scaleX(1);
}

nav .more {
  display: none;
}

nav .menu {
  background-color: var(--white);
  position: absolute;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  display: none;
}

nav .menu a {
  padding: 1rem;
  color: var(--black);
}

nav .menu a:hover {
  background-color: var(--black);
  color: var(--white);
}

nav .mobile {
  display: none;
  width: 100%;
}

nav .mobile .header {
  background-color: var(--black);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .mobile .header a{
 color: var(--white);
 display: inline-flex;
 padding: 1rem;
}

nav .mobile .header #bmenu {
    background: transparent;
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: 1rem;
}

nav .mobile .links {
  display: none;
  flex-direction: column;
  position: relative;
  z-index: 100;
  background-color: var(--black);
}

nav .mobile .links a {
  font-size: 2rem;
  display: block;
  padding: 1rem 2rem;

  color: var(--white);
}

nav .mobile .links a:hover {
  background-color: var(--white);
  color: var(--black);
}

/* ---------------
    HEADER
-------------------*/

header{
  background-image: url(../img/halo-infinite-cover-darkmode.jpg);
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  height: 100vh;
  
}

/* ---------------
    BANNER
-------------------*/
h2{
  font-size: 2em;
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
h2::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: -30px;
  left: 0;

  transform: scale(0.4) skewY(-20deg) rotate(20deg);
  background-color: var(--greenbtn);
}

#banner {
  font-size: 1.8em;
  text-align: center;
  padding: 4rem;
  width: 400px;
  position: absolute;
  z-index: 100;
  top: 200px;
  right: 100px;
  background-color: var(--blackOpacity);
  color: var(--white);
}

#banner p{
  margin-top: 2rem;
}

.green-button{
  border: 0;
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  margin-top: 3rem;
  color: var(--black);
  background-color: var(--greenbtn);
  text-transform: uppercase;

}

.green-link{
  border: 0;
  display: inline-flex;
  position: relative;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 4rem;
  color: var(--greenbtn);
  
}

.green-link::before{
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  background-color: var(--greenbtn);
}

.green-link:hover::before{
  transform: scale(0.6);
}

.green-button:hover{
  background-color: var(--greenbtnhover);
}

@media screen and (max-width: 1200px) {
  nav .link-hide {
    display: none;
  }

  nav .more {
    display: flex;
  }

  header{
    height: 70vh;
  }


  #banner{
    position: initial;
    z-index: 100;
    width: 100%;
    padding: 0;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 700px) {
  nav {
    width: 100%;
    padding: 0;
  }
  nav ul {
    display: none;
  }

  nav .mobile {
    display: block;
  }

  header{
    height: 40vh;
    max-width: 100%;
    background-position: center 4rem;
  }

 h2{
  font-size: 2.5em;
 }
}
