@media (prefers-color-scheme: light) {
    body{
        background-color: var(--white);
    }

    header{
        background-image: url(../img/halo-infinite-cover.jpeg);
    }

    nav{
        background-color: var(--whiteOpacitylight);
    }

    nav ul li a {
        color: var(--black);
    }

    nav ul li .link::before{
        background-color: var(--black);
    }

    nav .mobile .header {
        background-color: var(--white);
    }
    
    nav .mobile .header a{
        color: var(--black);
    }

    nav .mobile .header #bmenu{
        color: var(--black);
    }

    nav .mobile .links{
        background-color: var(--white);
    }
    
    nav .mobile .links a{
        color: var(--black);
    }
    nav .mobile .links a:hover{
        background-color: var(--black);
        color: var(--white)
    }

    #banner {
        background-color: var(--white);
        color: var(--black);
    }

    h2::before{
        background-color: var(--greenbtnhover);
    }

    .green-button{
        background-color: var(--greenbtnhover);
        color: var(--white);
    }

    .green-button:hover{
        background-color: var(--greenbtn);
        color: var(--black);
    }

    .green-link{
        color: var(--greenbtn);
    }
    .green-link::before{
        background-color: var(--greenbtnhover);
    }

    h2, h3, p {
        color: var(--black);
    }

    #videos {
       color: var(--black);
    }

    .info{
        background-color: var(--whiteOpacityhard);
    }

    #get-the-game {
        color: var(--black);
    }

    footer .top{
        background-image: url(../img/master-chief.jpg);
    }

    footer .bottom{
        color: var(--black);
    }


}
@media (prefers-color-scheme: dark) {

}